In [1]:
print("hello world")

hello world

In [2]:
name = input("Enter a name of student:")
print("The student name is:",name)

Enter a name of student:Nupur Mishra
The student name is: Nupur Mishra

In [3]:
a = int(input("Enter a number:"))
b = int(input("Enter a number:"))
print(a+b)

Enter a number:2
Enter a number:3
5

In [9]:
a = 10
b = 10.3 
c = 'Hi'
d = "hello"
e = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [13]:
a = 50
b = a
print(id(a))
print(id(b))
a = 500
print(id(a))

1802770515728
1802770515728
1802883209648

In [17]:
a = 1+3j
print('The type of c is:', type(a))
print("c is a complex number:",isinstance(1+3j,complex))
b = 3j
print('The type of c is:', type(b))

The type of c is: <class 'complex'>
c is a complex number: True
The type of c is: <class 'complex'>

In [18]:
str1 = 'welcome to KIIT'
str2 = 'how are you'
print(str1[0:2]) #printing first two character using slice operator 
print(str1[4]) #printing 4th character of the string 
print(str1*2) #printing the string twice
print(str1 + str2) #printing the concatenation of the str1 and str2

we
o
welcome to KIITwelcome to KIIT
welcome to KIIThow are you

In [19]:
list1 = [1, 'hi','Python',2]
print(type(list1))
print(list1) #printing the list1
print(list1[3:]) #list slicing
print(list1[0:2]) #list slicing 
print(list1 + list1) #list concatenation using + operator
print(list1 *3)

<class 'list'>
[1, 'hi', 'Python', 2]
[2]
[1, 'hi']
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]

In [21]:
d = {1:'jimmy',2:'Alex',3:'john',4:'mike'}
print(d) #printing dictionary
print("1st name is "+d[1])
print("2nd name is "+d[4])
print(d.keys())
print(d.values())

{1: 'jimmy', 2: 'Alex', 3: 'john', 4: 'mike'}
1st name is jimmy
2nd name is mike
dict_keys([1, 2, 3, 4])
dict_values(['jimmy', 'Alex', 'john', 'mike'])

In [23]:
a = int(input('Enter a?'))
b = int(input('Enter b?'))
c = int(input('Enter c?'))
if a>b and a>c:
    print('a is largest')
if b>a and b>c:
    print('b is largest')
if c>a and c>b:
    print('c is largest')

Enter a?3
Enter b?2
Enter c?7
c is largest

In [25]:
num = int(input('enter the number?'))
if num%2 == 0:
    print("number is even")

enter the number?4
number is even

In [29]:
a = int(input('Enter a?'))
b = int(input('Enter b?'))
c = int(input('Enter c?'))
largest = max(a,b,c)
print(f"largest number is {largest}")

Enter a?6
Enter b?4
Enter c?7
largest number is str(7)

In [30]:
marks = int(input('Enter the marks'))
if marks>85 and marks <=100:
    print("Congrats! you scored grade A....")
elif marks>60 and marks<=85:
    print('You scored grade B+....')
elif marks>40 and marks<=60:
    print('you scored grade B...')
elif marks>30 and marks<=40:
    print("you scored grade  C")
else:
    print('Sorry you are fail?')

Enter the marks98
Congrats! you scored grade A....

In [36]:
numbers = [4,2,6,7,3,5,8,10,6,1,9]
square = 0
squares = []
for value in numbers:
    sqaure = value**2
    squares.append(square)
print('the list of squares is',squares)

the list of squares is [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [48]:
numbers = [4,2,6,7,3,5,8,10,6,1,9]
square = 1
squares = []
for value in numbers:
    
    square = value ** 2
    
    squares.append(square)
print("the list of squares is",squares)

the list of squares is [16, 4, 36, 49, 9, 25, 64, 100, 36, 1, 81]

In [50]:
string = "Python Loop"
for s in string:
    if s == 'o':
        print('if block')
    else:
        print(s)

P
y
t
h
if block
n

L
if block
if block
p

In [51]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10