In [18]:
import pandas as pd
data= pd.read_csv("Iris.csv")
print (data)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [17]:
print(data.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [15]:
print(data.tail())

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [16]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [13]:
print(data.describe())

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

In [28]:
#indexing DataFrame

data = pd.read_csv("Iris.csv", index_col ="Species") 
  
# retrieving multiple columns by indexing operator 
first = data.loc["Iris-virginica"]
print(first)

                 Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-virginica  101            6.3           3.3            6.0           2.5
Iris-virginica  102            5.8           2.7            5.1           1.9
Iris-virginica  103            7.1           3.0            5.9           2.1
Iris-virginica  104            6.3           2.9            5.6           1.8
Iris-virginica  105            6.5           3.0            5.8           2.2
Iris-virginica  106            7.6           3.0            6.6           2.1
Iris-virginica  107            4.9           2.5            4.5           1.7
Iris-virginica  108            7.3           2.9            6.3           1.8
Iris-virginica  109            6.7           2.5            5.8           1.8
Iris-virginica  110            7.2           3.6            6.1           2.5
Iris-virginica  111            6.5           3.2            5.1           2.0
Iris-virginica  112            6.4           2.7            5.3           1.9
Iris-virginica  113            6.8           3.0            5.5           2.1
Iris-virginica  114            5.7           2.5            5.0           2.0
Iris-virginica  115            5.8           2.8            5.1           2.4
Iris-virginica  116            6.4           3.2            5.3           2.3
Iris-virginica  117            6.5           3.0            5.5           1.8
Iris-virginica  118            7.7           3.8            6.7           2.2
Iris-virginica  119            7.7           2.6            6.9           2.3
Iris-virginica  120            6.0           2.2            5.0           1.5
Iris-virginica  121            6.9           3.2            5.7           2.3
Iris-virginica  122            5.6           2.8            4.9           2.0
Iris-virginica  123            7.7           2.8            6.7           2.0
Iris-virginica  124            6.3           2.7            4.9           1.8
Iris-virginica  125            6.7           3.3            5.7           2.1
Iris-virginica  126            7.2           3.2            6.0           1.8
Iris-virginica  127            6.2           2.8            4.8           1.8
Iris-virginica  128            6.1           3.0            4.9           1.8
Iris-virginica  129            6.4           2.8            5.6           2.1
Iris-virginica  130            7.2           3.0            5.8           1.6
Iris-virginica  131            7.4           2.8            6.1           1.9
Iris-virginica  132            7.9           3.8            6.4           2.0
Iris-virginica  133            6.4           2.8            5.6           2.2
Iris-virginica  134            6.3           2.8            5.1           1.5
Iris-virginica  135            6.1           2.6            5.6           1.4
Iris-virginica  136            7.7           3.0            6.1           2.3
Iris-virginica  137            6.3           3.4            5.6           2.4
Iris-virginica  138            6.4           3.1            5.5           1.8
Iris-virginica  139            6.0           3.0            4.8           1.8
Iris-virginica  140            6.9           3.1            5.4           2.1
Iris-virginica  141            6.7           3.1            5.6           2.4
Iris-virginica  142            6.9           3.1            5.1           2.3
Iris-virginica  143            5.8           2.7            5.1           1.9
Iris-virginica  144            6.8           3.2            5.9           2.3
Iris-virginica  145            6.7           3.3            5.7           2.5
Iris-virginica  146            6.7           3.0            5.2           2.3
Iris-virginica  147            6.3           2.5            5.0           1.9
Iris-virginica  148            6.5           3.0            5.2           2.0
Iris-virginica  149            6.2           3.4            5.4           2.3
Iris-virginica  150            5.9           3.0            5.1           1.8

In [34]:
#FILTERING

c1 = data['SepalLengthCm'] > 6.0
c2 = data['PetalLengthCm'] > 5.2

filtered_df = data.loc[c1 & c2]
print (filtered_df)

                 Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-virginica  101            6.3           3.3            6.0           2.5
Iris-virginica  103            7.1           3.0            5.9           2.1
Iris-virginica  104            6.3           2.9            5.6           1.8
Iris-virginica  105            6.5           3.0            5.8           2.2
Iris-virginica  106            7.6           3.0            6.6           2.1
Iris-virginica  108            7.3           2.9            6.3           1.8
Iris-virginica  109            6.7           2.5            5.8           1.8
Iris-virginica  110            7.2           3.6            6.1           2.5
Iris-virginica  112            6.4           2.7            5.3           1.9
Iris-virginica  113            6.8           3.0            5.5           2.1
Iris-virginica  116            6.4           3.2            5.3           2.3
Iris-virginica  117            6.5           3.0            5.5           1.8
Iris-virginica  118            7.7           3.8            6.7           2.2
Iris-virginica  119            7.7           2.6            6.9           2.3
Iris-virginica  121            6.9           3.2            5.7           2.3
Iris-virginica  123            7.7           2.8            6.7           2.0
Iris-virginica  125            6.7           3.3            5.7           2.1
Iris-virginica  126            7.2           3.2            6.0           1.8
Iris-virginica  129            6.4           2.8            5.6           2.1
Iris-virginica  130            7.2           3.0            5.8           1.6
Iris-virginica  131            7.4           2.8            6.1           1.9
Iris-virginica  132            7.9           3.8            6.4           2.0
Iris-virginica  133            6.4           2.8            5.6           2.2
Iris-virginica  135            6.1           2.6            5.6           1.4
Iris-virginica  136            7.7           3.0            6.1           2.3
Iris-virginica  137            6.3           3.4            5.6           2.4
Iris-virginica  138            6.4           3.1            5.5           1.8
Iris-virginica  140            6.9           3.1            5.4           2.1
Iris-virginica  141            6.7           3.1            5.6           2.4
Iris-virginica  144            6.8           3.2            5.9           2.3
Iris-virginica  145            6.7           3.3            5.7           2.5
Iris-virginica  149            6.2           3.4            5.4           2.3

In [49]:
if filtered_df.empty:
    print("No rows satisfy the given conditions.")
    
if data.isnull().any().any():
    df = data.dropna()

In [53]:
#grouping and aggregating data.

#import pandas as pd 
  
# Creating our dataset 
#df = pd.DataFrame([[9, 4, 8, 9], [8, 10, 7, 6], [7, 6, 8, 5]], 
#columns=['Maths',  'English', 'Science', 'Computer']) 
  
# display dataset 
#print(df)

In [51]:
data.sum()

Id               11325.0
SepalLengthCm      876.5
SepalWidthCm       458.1
PetalLengthCm      563.8
PetalWidthCm       179.8
dtype: float64

In [50]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [54]:
print (data.agg(['sum', 'min', 'max']))

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
sum  11325          876.5         458.1          563.8         179.8
min      1            4.3           2.0            1.0           0.1
max    150            7.9           4.4            6.9           2.5